@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
}

.container{
	width:1200px;
	margin:0 auto;
}
.flex-container {
    display: flex;
    flex-wrap:wrap;
	flex-flow:wrap;
    background-color:rgba(232,33,206,0.24);
	margin:0 auto;
	margin-top:50px;
 	align-items:stretch;
	
 }

.flex-container > div {
    background-color:rgba(196,20,173,0.69);
    margin-left:10px;
	margin-top:10px; 
	margin-right:10px;
    padding: 0 10px 0 10px;
    font-size: 25px;
	align-content: center;
	color: white;

}
header > h1{
	width:100%;
    height:100px;
	text-align: center;
	color:ghostwhite;
	font-family:"Lugrasimo", cursive;   
}
footer{
background-color:rgba(163,87,168,0.00);
	clear: both;
	text-align:left;
	display: flex;
	bottom: 0;
	position: fixed;
	color:white;
  	font-size: 15px;
	width:100%;
    height:30px;
}
@media (max-width: 1020px){
	.container{width:90%;}
	
	.makeMeStack{
		flex:100%;
	}
}	
nav {
	margin: 0 auto;
}
.stack > div {
    flex-direction: column;
    padding: 20px;
}
.section_L {
    flex-grow: 3;
}
.section_R {
    flex-grow: 2;
}
.flex-responsive {
    flex: 30%;
}

.lugrasimo-regular {
  font-family: "Lugrasimo", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
	background:url("images/bg8.png");
	background-repeat:no-repeat;
	background-size:cover;
	color:white;
	font-size:25px;
	min-height: 100vh;
	flex-direction: column;
	margin-top:auto;
}

th, td {
  
  border: 1px solid black;
  border-radius: 10px;	
  padding-top: 40px;
  padding-bottom:40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color:rgba(85,2,219,0.68);
  color:white;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(199,25,171,0.40);
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color:violet;
}

nav .active {
  background-color:rgba(199,25,171,0.40);
}

button{
	background-color: rgba(85,2,219,0.68);
	color:white;
	font-size: 20px;
} 

#accordion {
	margin-top: 20px;
	
}

#accordion h3  {
	background-color:rgba(196,20,173,0.69);
	color:ghostwhite;
}
#accordion > div  {
	background-color:rgba(85,2,219,0.68);
	color:ghostwhite;
	
	
}

button{
	background-color:rgba(218,39,243,0.70) ;
	color:white;
	font-size: 20px;
} 
audio{
	visibility: hidden;
}
@media (max-width: 1080px) {
#container {
    width: 90%;
}
.flex-responsive {
    flex: 100%;
	}
}

@media only screen and (min-width: 1039px) {
	.flex-container{
		display: flex;
		flex-direction: column;
		}
}
@media only screen and (max-width: 768px) {
	.flex-container{
		display: flex;
		flex-direction: column;
	}
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}

@media print {
	.flex-container{
		display: flex;
		flex-direction:column;
		}
	}
